<app-user></app-user>
<div>
  <h1>¿Qué tal Angular?</h1>
  <article>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
      earum, ipsa voluptatum consectetur harum asperiores. Consequuntur illo
      labore, nam asperiores tempora expedita consectetur sit explicabo ducimus
      quos molestiae numquam libero!
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta,
      inventore facere! Officiis quaerat a libero vel, deleniti, beatae, fuga
      cupiditate corporis nulla obcaecati odit facilis blanditiis mollitia quo
      aperiam iusto!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eum minus
      hic et quam maiores voluptas magni praesentium aperiam quisquam, sint
      tenetur autem quibusdam nostrum velit provident modi rem voluptate!
    </p>
  </article>

  @defer (on viewport) {
  <app-comments></app-comments>
  } @placeholder {
    <p></p>
  } @loading {
    <p>Cargando comentarios...</p>
  }
</div>

<!-- <router-outlet /> -->
