section {
  max-width: 575px;
  margin: 0 auto;
  padding-top: 32px;
  font-size: 24px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.saludo {
  font-size: 15px;
  margin-bottom: 16px;
}

button {
  width: 35%;
  height: 48px;
  font-size: 18px;
}

div {
  display: inline-block;
  margin-inline: 15px;
}
