<section>
  @if (isLoggedIn) {
  <p>Has iniciado sesión con: {{ username }}</p>
  <div>
    <img (click)="greet()" alt="photo" src="http://github.com/sarahgl.png" />
    <p class="saludo">Haz click en la imagen</p>
  </div>
  <div>
    <app-games
      (addFavoriteEvent)="getFavorite($event)"
      username="{{ username }}"
    ></app-games>
  </div>

  @if (favGame !== '') {
  <p>El juego favorito de {{ username }} es "{{ favGame }}"</p>
  }
  <button (click)="isLoggedIn = false">Cerrar sesión</button>
  } @else {
  <h3>¿Quién eres?</h3>
  <button (click)="isLoggedIn = true">Iniciar sesión</button>
  }
</section>
